# Dependencies
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/.kotlin/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Generated
*.g.dart
*.freezed.dart
ios/Flutter/Generated.xcconfig
android/local.properties

# Test
coverage/

# Local
.env
